*{
    margin: 0;
    padding: 0;

}

body{
  background-color: #f2eded;
}
    /*Menu 1*/

#imagen-1{
	display: inline-block;
	margin-top: 500
}

.menu li{
	display: inline-block;
	text-decoration: none;
	position: relative;
	margin-left: 60px;
	margin-top: 300px;
	padding: 8px;

}

.menu {
	margin-top: -478px;
	margin-left: 160px;
}

 .suga-img-li .suga-img{
	border-radius: 100%;
	width: 40px;
	height: 40px;
}


    /*Logotipo Lab*/
#logotipo img{
    margin-top: 40px;
    text-align: center;
    margin-left: 300px;
}

   /*Menu Desplegable*/

.nav-tabs{
	background-color: #FFB800;
	margin-left:203px;
}
.nav-tabs > li > a{
	color: #000!important;
}

  /*Logotipo*/




#porcentaje li{
	display: inline-block;
	font-size: 19px;
	margin-left:161px;
}



.students-graphic img{
	height: 312px;

}

        /*Contenedor 2*/





#circulo-logros{
	display: inline-block;

}

.contenedor-2{
	display: inline-block; /*lo agrego la Pau*/
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
  height: auto;
  width: 400px;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 10px;
  height: 480px;

}

.contenedor-1{
	display: inline-block;  /*lo agrego la Pau*/
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
  vertical-align: top;
  margin-left: 80px;
  margin-top: 50px;
  height: 458px;
}

#contenedor-3{
  display: inline-block;  /*lo agrego la Pau*/
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
  width: 400px;
  margin-top: 50px;
  margin-left: 10px;
  height: 480px;
}

#tech-skills, #life-skills, #profesores, #jedi, #contenedor-de-felicidad-yey{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
}

 #profesores, #jedi, #contenedor-de-felicidad-yey{
   height: 350px;
 }

#tech-skills, #life-skills{
  margin-left: 100px;
  width: 500px;
  height: 700px;
  margin-top: 50px;
  vertical-align: top;
}

.promoter-score{
  width: 200px;
}


#graph-ach{
  margin-top: 15px;
}

.button{
  border: 1px solid #FFB800;
  background-color: #fff;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 30px;
}

.button:focus{
  outline: none;
  border: none;
  border-bottom: 6px solid #FFB800;
}
#general{
  margin-left: 450px;
}
            /*Profesores*/


.profesores-rating p{
	font-size: 30px;


}

.jedi-rating h1{
	font-size: 40px;
    color: #FFB800;

}


.display{
  display: inline-block;
}

.block {
  display: block;
}

.display-none {
  display: none;
}

.titles {
  font-size: 30px;
  margin: 10px;
}

.align{
  text-align: left;
}

.ml{
  margin-left: 100px;
}

.numbers {
  font-size: 30px!important;
}

.box {
  background-color: rgb(231, 226, 226);
  margin-left: 10px;
  vertical-align: top;
  padding: 10px;
}

#contenedor-de-felicidad-yey{
  margin-left: 80px;
}

#profesores, #jedi{
  margin-left: 5px;
}

#jedi, #contenedor-de-felicidad-yey, #profesores {
  width: 400px;
  margin-top: 50px;
}

#jedi{
  vertical-align: top;
}

#translator{
  background-color: #FFB800;
  color: #fff;
  border: none;
  padding: 5px;
}

/*Menu  de Habilidades Tecnicas
          Copiar y Pegar */


.habilidades-menu ul{
list-style: none;
margin-top: 10px;
margin-left: 10px;
}

.habilidades-menu ul li{
padding: 15px;
position: relative;
width: 200px;
background-color: #333;
border-right: 5px solid #ECC905;
border-top: 1px solid #E7E7E7;
}

.habilidades-menu > ul > li{
border-right: 5px solid #fff;
}

.habilidades-menu ul ul{
transition: all 0.3s;
opacity: 0;
position:absolute;
visibility: hidden;
left: 80%
top:5%;
}

.habilidades-menu ul li:hover > ul{
opacity: 1;
visibility: visible;

}

.habilidades-menu ul li a{
color:#ffffff;
text-decoration-color: none;
}


/*Menu 2 de Habilidades Socioemocionales
          Copiar y Pegar */


.habilidades-menu-2 ul{
list-style: none;
margin-top: 10px;
margin-left: 10px;
}

.habilidades-menu-2 ul li{
padding: 15px;
position: relative;
width: 200px;
background-color: #333;
border-right: 5px solid #ECC905;
border-top: 1px solid #E7E7E7;
}

.habilidades-menu-2 > ul > li{
border-right: 5px solid #fff;
}

.habilidades-menu-2 ul ul{
transition: all 0.3s;
opacity: 0;
position:absolute;
visibility: hidden;
left: 80%
top:5%;
}

.habilidades-menu-2 ul li:hover > ul{
opacity: 1;
visibility: visible;

}

.habilidades-menu-2 ul li a{
color:#ffffff;
text-decoration-color: none;
}
